<?xml version='1.0' encoding='UTF-8'?>
<phpunit backupGlobals='false'
         backupStaticAttributes='false'
         beStrictAboutTestsThatDoNotTestAnything='true'
         colors='true'
         convertErrorsToExceptions='true'
         convertNoticesToExceptions='true'
         convertWarningsToExceptions='true'
         forceCoversAnnotation='true'
         stopOnError='false'
         stopOnFailure='false'
         stopOnIncomplete='false'
         stopOnSkipped='false'
         verbose='true'
>

    <php>
        <ini name='display_errors' value='1'/>
        <ini name='display_startup_errors' value='1'/>
        <ini name='error_reporting' value='-1'/>
        <ini name='memory_limit' value='-1'/>
    </php>

    <testsuites>
        <testsuite name='all'>
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory suffix=".php">../src/Application/Module/BitBucket/Factory</directory>
                <directory suffix=".php">../src/Application/Module/ExistingTicketsIndex/Factory</directory>
                <directory suffix=".php">../src/Application/Module/Jira/Factory</directory>
                <directory suffix=".php">../src/Application/Module/TicketAggregate/Factory</directory>
                <directory suffix=".php">../src/Event</directory>
                <directory suffix=".php">../src/Application/Utils/Mapper/Factory</directory>
                <directory suffix=".php">../src/Application/Configuration/Factory</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
