parameters:
  jira.host: https://farpoint.get-ag.com/jira
  jira.authentication.username: "root"
  jira.authentication.password: "yeah, right ..."
  jira.watch.projects: ["PVG", "DSL"]
  jira.trigger.deploy.state: "work in progress"
  jira.trigger.remove.states: ["done", "rejected"]
  server.username: ""
  server.user.homedir: "/home"
  server.vhost.dir: "/var/www/vhosts"
  server.vhost.dir.public: "/httpdocs"
  
